/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* .searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
} */

.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}
.button-wrapper a.button.alt:hover {
    background-color: #72ac91!important;
    color: #f9f9f8!important;
}
.firefox .fl-content-slider .bx-loading {
	display: none!important;
}
.firefox .fl-content-slider .fl-slide {
	visibility: visible!important;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}
/* .main-header .fl-col-content div.fl-col-group {
    display: flex;
    align-items: center;
} */
a.phone {
    font-weight: 400;
    color: #c6a337 !important;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}

.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}

.product-grid.swatch .fl-post-grid-post .fl-post-grid-text>a.fl-button {
    font-size: 13px;
    padding: 12px 14px;
}

.product-detail-layout-4 .button-wrapper,
.product-detail-layout-default .button-wrapper,
.product-detail-layout-5 .button-wrapper,
.button-wrapper a {
    text-align: center!important;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    padding: 10px 20px;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px!important;
}

.fl-builder-content .fl-node-5d827d8591da9 .sub-menu>li>a {
    padding-left: 15px;
    padding-right: 15px!important;
}

.ua-icon-Search {
    cursor: pointer;
}

.save-up-to-link.fl-module-rich-text .fl-module-content {
    margin-bottom: 0;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button {
    padding: 14px 10px;
}

.wrap-item .sub-menu li a span{
    position: relative;
    padding-left: 10px;
    display: inline-block;
}
.wrap-item .sub-menu li a span i{
    position: absolute;
    left: 0px;
}
#menu-header > ul > li > div > a{
    padding-bottom: 10px;
}
#menu-header ul li a{
    color: #fff;
}
#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span {}

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span:before {
    content: '\f0da';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.style-product_list .pro-container>.row{
    flex-direction: row;
}
.style-product_list .pro-container>.row>div{
    flex: 1;
}
.style-product_list .pro-container>.row>div.clearfix{
    flex: 0;
}
.fl-content-full{
    max-width: 100%;
    width: 100%;
}

.top_bar_wrap{    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_bar_wrap .storename{
    margin-bottom: 0px;
}
.footerCopyright .fl-col-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footerCopyright .fl-col-group .fl-rich-text p{
    margin-bottom: 0px!important;
}


@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .style-product_list .pro-container .pro-details .button-wrapper {
        display: block;
    }
}

@media(max-width:1199px) {
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav {
        flex: auto;
        position: relative;
    }
    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu {}
    .fl-node-5d826ff320ba5>.fl-module-content {
        margin: 20px 0px;
    }
    .fl-node-5d826ff320ba5 .menu a {
        padding: 15px 7px!important;
        font-size: 12px;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a {
        padding-right: 24px!important;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle {
        width: 24px!important;
    }
}

@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
    .coretec-sec .fl-module-rich-text .fl-rich-text * {
        font-size: 22px !important;
    }
    div.fl-builder-content .fl-row-content-wrap .coretec-sec .fl-col-content {
        min-height: 350px !important;
    }
    ul#menu-main-menu li {
        padding: 0 15px !important;
    }
    ul#menu-main-menu li .fl-has-submenu-container .fl-menu-toggle:before {
        margin: -5px -35px 0 0 !important;
    }
}

@media(max-width:992px) {
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
    .fl-module-photo-gallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 50% !important;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex !important;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button {
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module>.fl-module-content {
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    /* .style-product_list .pro-container .pro-details .button-wrapper {
        display: flex;
    } */
}

@media(max-width:992px) and (min-width:767px) {
    .flexViewIpad .fl-col-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:768px) {
    .class-rugs-shorcode a{
        font-size: 13px;
        padding-left: 15%!important;
    }
   .class-rugs-shorcode a i{
        display: none
    }
    .style-list button.back-button{
        z-index: 25;
    }
    ul#responsive-menu * {
        text-align: left;
    }
    .style-list button.back-button {
        bottom: 100%;
        left: 0;
        top: 10px;
        font-size: 18px !important;
    }
    #field_19_8,
    #field_19_1,
    #field_22_3,
    #field_22_9,
    #field_22_10,
    #field_22_2 {
        padding-right: 0;
    }
    /* .responsive-menu-open .fl-builder-mobile header:before {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: #ffffff63;
            z-index: 99;
        } */
    .iPadFooter .fl-col-group,
    .fl-col-group.fl-col-group-equal-height {
        display: flex !important;
    }
    .homePageCoreTec .fl-col-group {
        justify-content: center;
    }
    /* .uabb-photo .uabb-photo-content  img.uabb-photo-img {
        width: 360px !important;
    } */
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    .headerMain .fl-col.headerLogo {
        margin-right: 0;
    }
    /* .fl-builder-content-primary .fl-row-full-width .fl-row-content-wrap .fl-col-group .fl-col{
        margin: 0px !important;
        float: left !important;
        clear: unset !important;
    } */
    .fl-node-5d827d8591da9 ul.sub-menu a {
        padding-left: 0px!important;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
        justify-content: center;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col {
        width: 50% !important;
    }
    #menu-flooring-menu,
    #menu-inspiration-menu,
    #menu-about-us {
        text-align: left;
    }
    .headerMain .fl-col-group {
        align-items: center;
    }
    .footerLinks .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    /*.footerCopyright .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }*/
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .mobileHeaderIcons .fl-col-content.fl-node-content {
        display: flex;
        flex-direction: row;
    }
    .flexViewIpad .fl-col-small{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 49%!important;
    }
    .lastColumn .fl-col-content,
    .lastColumn {
        max-width: 100% !important;
        width: 100% !important;
    }
    .lastColumn .fl-col-content {
        display: flex;
        flex-direction: row;
    }
    .lastColumn .fl-col-content > div{
        margin: 0 10px;
    }
    .homeCategories .fl-col-group.fl-node-5d01389b6c032 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeSlider .fl-col-group.fl-node-5c75183d301f3 {
        display: flex;
        justify-content: center;
    }
    .footerCopyright ul.social-icons li {
        margin: 0 5px;
    }

 

    .four-box-gaurantee .fl-col-group .fl-col-small{
        width: 49% !important;
        max-width: none;
        display: inline-block;
    }
    /*.fl-col-small:not(.fl-col-small-full-width){
        max-width: 450px;
    }*/
    /* .mobileHeader .menu-wrap-mobile .is-active{
        position: fixed;
        top: 70px!important;
        right: 16%!important;
        transform: none!important;
    } */
    #responsive-menu-container .storename .phone{
        text-align: left;
    }
    #responsive-menu-container .storename .phone a:before{
        content: "\f879";
        font-family: "Font Awesome 5 Free";
        -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
        font-weight: 900;
        margin-right: 5px;
    }
}

@media(max-width:767px) {
    .flexViewIpad .fl-col-small{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%!important;
        border-bottom: 1px solid #ccc;
    }
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
    h2 {
        font-size: 18px;
    }
    .footermenu .menu-item p a {
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon {
        vertical-align: super;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before {
        margin-top: 6px;
    }
    .fl-rich-text>.message a {
        font-size: 16px;
    }
    nav ul#menu-copyright-bar-menu {
        align-items: center;
        justify-content: center;
    }
    .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
            padding-right: 0px;
    }
}

@media(min-width:650px) and (max-width:767px) {
    .coretec-sec .fl-col-group.fl-col-group-equal-height {
        display: block !important;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height {
        flex-direction: column;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height .fl-col-small:first-child .fl-node-content {
        padding: 10px 0;
    }

}

@media(max-width:500px) {
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 93px !important;
    }
    .footerLinks .fl-col-group-custom-width div.fl-col-small{
        width: 100% !important;
        max-width: none;
    }
    .four-box-gaurantee .fl-col-group .fl-col-small{
        width: 100% !important;
        max-width: none;
    }

}

@media(max-width:480px) {
    .footerLinks .fl-col-group,
    .footerCopyright .fl-col-group {
        display: block;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 5px !important;
    }
    .headerMain .phone.retailer {
        margin-right: 0;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button {
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        justify-content: center;
    }
    .footerCopyright .fl-col * {
        margin: 0;
    }
    .footerCopyright .fl-col-group .fl-col {
        height: 30px;
    }
    .lastColumn .fl-col-content {
        flex-direction: column;
    }
    .homeCategories .fl-col-group {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footerCopyright .fl-col-group {
        flex-direction: column;
    }
}

@media(max-width:430px) {
    .fl-page-bar-text-1 font {
        font-size: 14px;
    }
}

@media(max-width:370px) {
    .fl-page-bar-text-1 font {
        font-size: 11px;
    }
    .fl-page-bar-text-1 i {
        font-size: 16px;
    }
}